/*------------------------------------*\
    #HELPERS
\*------------------------------------*/
/* Variables */
@import '../core/helpers/variables';

.info-box {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 2px 9px 2px rgba(0,0,0,0.36);
    background: $white;
    color: $secondary-text-color;
}

.download {
    display: inline-block;
    margin-top: 30px;
    padding: 15px;
    border-radius: 5px;
    background: $primary-color;
    color: $white;
}

.boilerplate-list {
    text-align: left;
    max-width: 260px;
    margin: 0 auto;
}
