$primary-color: #2196F3;
$dark-primary-color:    #0D47A1;
$light-primary-color:   #90CAF9;


$secondary-color: #3F51B5;
$dark-secondary-color:    #1A237E;
$light-secondary-color:   #9FA8DA;


$accent-color:          #D500F9;


$primary-text-color:    #fff;
$secondary-text-color:  #212121;

$white: #fff;
$black: #000;
