/*==============================
================================
* Styles for the website header
================================
==============================*/
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    height: 45px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0 30px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0px 2px 9px 2px rgba(0,0,0,0.36);
    background: $white;
}

.main-nav > ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-link {
    margin-left: 10px;
    text-transform: uppercase;
}

.social-icons {
    display: flex;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 8px;
    border-radius: 50%;
    background: $default-primary-color;
}

.social-link > svg { fill: $white; }
